/* play.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    position: relative;
    cursor: none;
  }
  
  .noMedia {
    color: white;
    font-size: 2rem;
    text-align: center;
  }
  
  .mediaWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .media {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }